In [1]:
from processing import get_mag_indices
import numpy as np
import pandas as pd

In [2]:
input_mag_path = "E:\Research\SR\input\mag_Indices"
mag_indics_r21_5 = pd.read_csv(input_mag_path+"\mag_indices_R21_5.csv")  # dataframe

mag_indics_r21_5

,datetime,departure_time,arrival_time,expansion_factor,coronal_hole_dist,squashing_factor
0,2012-01-01T00:00:00,NaN,NaN,NaN,NaN,NaN
1,2012-01-01T12:00:00,NaN,NaN,NaN,NaN,NaN
2,2012-01-02T00:00:00,NaN,NaN,NaN,NaN,NaN
3,2012-01-02T12:00:00,2011-12-30T05:26:26,2012-01-02T11:39:24,51.7180,2.8369,3.5212
4,2012-01-03T00:00:00,2011-12-29T16:43:40,2012-01-03T00:44:55,21.2332,1.6669,0.9065
...,...,...,...,...,...,...
9493,2024-12-29T12:00:00,NaN,NaN,NaN,NaN,NaN
9494,2024-12-30T00:00:00,2024-12-26T05:17:48,2024-12-30T00:15:59,337.3415,2.7838,0.8886
9495,2024-12-30T12:00:00,2024-12-26T16:12:25,2024-12-30T11:57:33,386.1967,2.7848,0.8521
9496,2024-12-31T00:00:00,2024-12-26T18:13:32,2024-12-31T01:42:05,369.5538,2.1442,0.9360
9497,2024-12-31T12:00:00,2024-12-27T01:30:00,2024-12-31T11:25:17,453.5638,2.0739,1.0995